<!-- Navigation -->
<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Logo and responsive toggle -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<span class="glyphicon glyphicon-fire"></span> 
				Serendipity
			</a>
		</div>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Products</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
					<ul class="dropdown-menu" aria-labelledby="about-us">
						<li><a href="#">Schedule</a></li>
						<li><a href="#">Tag-Chat</a></li>
						<li><a href="#">Explore</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
				<li>
					<%if user_signed_in?%>
						<%= current_user.email%>
						<%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
					<%else%>
						<%= link_to "Sign up", new_user_registration_path%> or <%= link_to "Sign in", new_user_session_path%>
					<%end%>
				</li>
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
